<header class="site-header">
  <div class="wrapper-logo">
    <div class="logo">
      <!-- <a class="site-title" href="{{ '/' | relative_url }}">{{ site.title | escape }}</a> -->
      <a href="{{ '/' | relative_url }}">
        <img src="{{ '/assets/images/logo.png' | relative_url }}" />
      </a>
    </div>
  </div>
  <div class="wrapper">
    <nav class="site-nav">
      <a class="page-link" href="{{ '/category/project.html' | relative_url }}"> Projects</a>
      <a class="page-link" href="{{ '/categories.html' | relative_url }}"> Categories</a>
      <a class="page-link" href="{{ '/tags.html' | relative_url }}"> Tags</a>
      <a class="page-link" href="{{ '/archive.html' | relative_url }}"> Archive</a>
      <a class="page-link" href="{{ '/about.html' | relative_url }}"> About</a>
    </nav>
  </div>
</header>
